<a href="https://colab.research.google.com/github/gugyeoj1n/Natural_Language_Processing/blob/main/01_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

sr = pd.Series([1, 2, 3, 4], index=["A", "B", "C", "D"])
print(sr)
print(sr.values)
print(sr.index)

A    1
B    2
C    3
D    4
dtype: int64
[1 2 3 4]
Index(['A', 'B', 'C', 'D'], dtype='object')

In [5]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
row = ['x', 'y', 'z']
col = ['A', 'B', 'C']

df = pd.DataFrame(values, index=row, columns=col)
print(df)
print(df.index)
print(df.columns)
print(df.values)

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9
Index(['x', 'y', 'z'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [8]:
data = [
        ['A', '1', '!'],
        ['B', '2', '@'],
        ['C', '3', '#'],
        ['D', '4', '$']
]

df = pd.DataFrame(data, columns=['알파벳', '숫자', '기호'])
print(df)

  알파벳 숫자 기호
0   A  1  !
1   B  2  @
2   C  3  #
3   D  4  $

In [13]:
print(df.head(2))
print(df.tail(1))
print(df['숫자'])

  알파벳 숫자 기호
0   A  1  !
1   B  2  @
  알파벳 숫자 기호
3   D  4  $
0    1
1    2
2    3
3    4
Name: 숫자, dtype: object